#slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 95%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: white;
}

.swiper .swiper-pagination-bullet-active {
  background: white;
}

#category {
  width: 90%;
  height: 75px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 100%);
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#category > div {
  width: 100%;
  font-weight: bold;
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
}

#longimg {
  width: 95%;
  height: 200px;
  margin: auto;
}

#longimg img {
  width: 100%;
  cursor: pointer;
}

#div4 {
  width: 95%;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 100%);
  margin: auto;
  margin-top: 30px;
  gap: 25px;
  padding: 0;
}

#div4 div {
  width: auto;
  height: auto;
  text-align: center;
}

#div4 div img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

#div4 div p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}
#justlanded {
  width: 95%;
  height: 100px;
  margin: auto;
  margin-bottom: 30px;
}
#justlanded img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#justlandedbelow {
  width: 95%;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 100%);
  gap: 20px;
}
#justlandedbelow > div {
  width: 100%;
  height: 400px;
}
#justlandedbelow > div:nth-child(2) {
  height: 80%;
}
.justlandslide {
  display: flex;
  margin: auto;
  gap: 25px;
  text-align: center;
}
.justlandslide > div {
  width: 30%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
#silde3 {
  width: 100%;
  height: 68%;
  text-align: center;
}
h3 {
  margin: 0;
  padding: 0;
}
h3 + p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 0;
}
h4 {
  margin-top: 8px;
  cursor: pointer;
}
#video {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
}
#lazygirl {
  width: 95%;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 100%);
  gap: 70px;
  margin-bottom: 80px;
}
#lazygirl div {
  width: 100%;
  height: 100%;
}
#lazygirl img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#onsalebelow {
  width: 95%;
  height: 420px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 100%);
  gap: 15px;
  margin-bottom: 50px;
}
#onsalebelow > div {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
}
#onsalebelow img {
  width: 80%;
  height: 65%;
  cursor: pointer;
}
#offerp {
  font-size: 10px;
  margin-top: 0px;
  padding-top: 3px;
  margin-bottom: 1px;
}
#onsalebelow h4 {
  margin-top: 2px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#onsalebelow h4:hover {
  background-color: black;
  color: white;
  letter-spacing: 8px;
}
#onsalebelow p:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#category img {
  width: 100%;
}
#newblock {
  width: 90%;
  height: 550px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 45%);
  gap: 20px;
}
#newblock > div {
  width: 100%;
}
#newblock > div img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#making {
  width: 90%;
  height: 450px;
  margin: auto;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 100%);
}
#making > div {
  width: 100%;
  height: 100%;
}
#making img {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
#making h3 {
  margin-left: 10px;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
#making h3:hover {
  background-color: black;
  color: whitesmoke;
  letter-spacing: 7px;
  cursor: pointer;
}
#making p {
  margin-left: 10px;
  letter-spacing: 3px;
  font-family: sans-serif;
}
